*{
	border: 0;
	margin: 0;
}
/*#main{
	max-width: 900px;
	margin: 0 auto;
}*/
.text{
	height:1000px;
	font-size:36px
}

.parallax{
	background-image: url("img/fish.jpg");
	min-height: 600px; 
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.parallax2{
	background-image: url("img/pinkCoral.jpg");
	min-height: 600px; 
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/*
приклади більш просунотого паралакса можете побачити за цими посиланнями:

https://codepen.io/lantoine/pen/YmzNLj
https://codepen.io/yagoestevez/pen/EdgRMX

відео
https://www.youtube.com/watch?v=neYjdM3D_S8

тор 10 сайтів з еіектом parallax
https://active-vision.ru/blog/10-primerov-parallaks-skrolinga/
*/